In [1]:
import numpy as np

#Seasons
Seasons = ["2005","2006","2007","2008","2009","2010","2011","2012","2013","2014"]
Sdict = {"2005":0,"2006":1,"2007":2,"2008":3,"2009":4,"2010":5,"2011":6,"2012":7,"2013":8,"2014":9}

#Players
Players = ["KobeBryant","JoeJohnson","LeBronJames","CarmeloAnthony","DwightHoward","ChrisBosh","ChrisPaul","KevinDurant","DerrickRose","DwayneWade"]
Pdict = {"KobeBryant":0,"JoeJohnson":1,"LeBronJames":2,"CarmeloAnthony":3,"DwightHoward":4,"ChrisBosh":5,"ChrisPaul":6,"KevinDurant":7,"DerrickRose":8,"DwayneWade":9}

#Salaries
KobeBryant_Salary = [15946875,17718750,19490625,21262500,23034375,24806250,25244493,27849149,30453805,23500000]
JoeJohnson_Salary = [12000000,12744189,13488377,14232567,14976754,16324500,18038573,19752645,21466718,23180790]
LeBronJames_Salary = [4621800,5828090,13041250,14410581,15779912,14500000,16022500,17545000,19067500,20644400]
CarmeloAnthony_Salary = [3713640,4694041,13041250,14410581,15779912,17149243,18518574,19450000,22407474,22458000]
DwightHoward_Salary = [4493160,4806720,6061274,13758000,15202590,16647180,18091770,19536360,20513178,21436271]
ChrisBosh_Salary = [3348000,4235220,12455000,14410581,15779912,14500000,16022500,17545000,19067500,20644400]
ChrisPaul_Salary = [3144240,3380160,3615960,4574189,13520500,14940153,16359805,17779458,18668431,20068563]
KevinDurant_Salary = [0,0,4171200,4484040,4796880,6053663,15506632,16669630,17832627,18995624]
DerrickRose_Salary = [0,0,0,4822800,5184480,5546160,6993708,16402500,17632688,18862875]
DwayneWade_Salary = [3031920,3841443,13041250,14410581,15779912,14200000,15691000,17182000,18673000,15000000]
#Matrix
Salary = np.array([KobeBryant_Salary, JoeJohnson_Salary, LeBronJames_Salary, CarmeloAnthony_Salary, DwightHoward_Salary, ChrisBosh_Salary, ChrisPaul_Salary, KevinDurant_Salary, DerrickRose_Salary, DwayneWade_Salary])

#Games 
KobeBryant_G = [80,77,82,82,73,82,58,78,6,35]
JoeJohnson_G = [82,57,82,79,76,72,60,72,79,80]
LeBronJames_G = [79,78,75,81,76,79,62,76,77,69]
CarmeloAnthony_G = [80,65,77,66,69,77,55,67,77,40]
DwightHoward_G = [82,82,82,79,82,78,54,76,71,41]
ChrisBosh_G = [70,69,67,77,70,77,57,74,79,44]
ChrisPaul_G = [78,64,80,78,45,80,60,70,62,82]
KevinDurant_G = [35,35,80,74,82,78,66,81,81,27]
DerrickRose_G = [40,40,40,81,78,81,39,0,10,51]
DwayneWade_G = [75,51,51,79,77,76,49,69,54,62]
#Matrix
Games = np.array([KobeBryant_G, JoeJohnson_G, LeBronJames_G, CarmeloAnthony_G, DwightHoward_G, ChrisBosh_G, ChrisPaul_G, KevinDurant_G, DerrickRose_G, DwayneWade_G])

#Minutes Played
KobeBryant_MP = [3277,3140,3192,2960,2835,2779,2232,3013,177,1207]
JoeJohnson_MP = [3340,2359,3343,3124,2886,2554,2127,2642,2575,2791]
LeBronJames_MP = [3361,3190,3027,3054,2966,3063,2326,2877,2902,2493]
CarmeloAnthony_MP = [2941,2486,2806,2277,2634,2751,1876,2482,2982,1428]
DwightHoward_MP = [3021,3023,3088,2821,2843,2935,2070,2722,2396,1223]
ChrisBosh_MP = [2751,2658,2425,2928,2526,2795,2007,2454,2531,1556]
ChrisPaul_MP = [2808,2353,3006,3002,1712,2880,2181,2335,2171,2857]
KevinDurant_MP = [1255,1255,2768,2885,3239,3038,2546,3119,3122,913]
DerrickRose_MP = [1168,1168,1168,3000,2871,3026,1375,0,311,1530]
DwayneWade_MP = [2892,1931,1954,3048,2792,2823,1625,2391,1775,1971]
#Matrix
MinutesPlayed = np.array([KobeBryant_MP, JoeJohnson_MP, LeBronJames_MP, CarmeloAnthony_MP, DwightHoward_MP, ChrisBosh_MP, ChrisPaul_MP, KevinDurant_MP, DerrickRose_MP, DwayneWade_MP])

#Field Goals
KobeBryant_FG = [978,813,775,800,716,740,574,738,31,266]
JoeJohnson_FG = [632,536,647,620,635,514,423,445,462,446]
LeBronJames_FG = [875,772,794,789,768,758,621,765,767,624]
CarmeloAnthony_FG = [756,691,728,535,688,684,441,669,743,358]
DwightHoward_FG = [468,526,583,560,510,619,416,470,473,251]
ChrisBosh_FG = [549,543,507,615,600,524,393,485,492,343]
ChrisPaul_FG = [407,381,630,631,314,430,425,412,406,568]
KevinDurant_FG = [306,306,587,661,794,711,643,731,849,238]
DerrickRose_FG = [208,208,208,574,672,711,302,0,58,338]
DwayneWade_FG = [699,472,439,854,719,692,416,569,415,509]
#Matrix
FieldGoals  = np.array([KobeBryant_FG, JoeJohnson_FG, LeBronJames_FG, CarmeloAnthony_FG, DwightHoward_FG, ChrisBosh_FG, ChrisPaul_FG, KevinDurant_FG, DerrickRose_FG, DwayneWade_FG])

#Field Goal Attempts
KobeBryant_FGA = [2173,1757,1690,1712,1569,1639,1336,1595,73,713]
JoeJohnson_FGA = [1395,1139,1497,1420,1386,1161,931,1052,1018,1025]
LeBronJames_FGA = [1823,1621,1642,1613,1528,1485,1169,1354,1353,1279]
CarmeloAnthony_FGA = [1572,1453,1481,1207,1502,1503,1025,1489,1643,806]
DwightHoward_FGA = [881,873,974,979,834,1044,726,813,800,423]
ChrisBosh_FGA = [1087,1094,1027,1263,1158,1056,807,907,953,745]
ChrisPaul_FGA = [947,871,1291,1255,637,928,890,856,870,1170]
KevinDurant_FGA = [647,647,1366,1390,1668,1538,1297,1433,1688,467]
DerrickRose_FGA = [436,436,436,1208,1373,1597,695,0,164,835]
DwayneWade_FGA = [1413,962,937,1739,1511,1384,837,1093,761,1084]
#Matrix
FieldGoalAttempts = np.array([KobeBryant_FGA, JoeJohnson_FGA, LeBronJames_FGA, CarmeloAnthony_FGA, DwightHoward_FGA, ChrisBosh_FGA, ChrisPaul_FGA, KevinDurant_FGA, DerrickRose_FGA, DwayneWade_FGA])

#Points
KobeBryant_PTS = [2832,2430,2323,2201,1970,2078,1616,2133,83,782]
JoeJohnson_PTS = [1653,1426,1779,1688,1619,1312,1129,1170,1245,1154]
LeBronJames_PTS = [2478,2132,2250,2304,2258,2111,1683,2036,2089,1743]
CarmeloAnthony_PTS = [2122,1881,1978,1504,1943,1970,1245,1920,2112,966]
DwightHoward_PTS = [1292,1443,1695,1624,1503,1784,1113,1296,1297,646]
ChrisBosh_PTS = [1572,1561,1496,1746,1678,1438,1025,1232,1281,928]
ChrisPaul_PTS = [1258,1104,1684,1781,841,1268,1189,1186,1185,1564]
KevinDurant_PTS = [903,903,1624,1871,2472,2161,1850,2280,2593,686]
DerrickRose_PTS = [597,597,597,1361,1619,2026,852,0,159,904]
DwayneWade_PTS = [2040,1397,1254,2386,2045,1941,1082,1463,1028,1331]
#Matrix
Points = np.array([KobeBryant_PTS, JoeJohnson_PTS, LeBronJames_PTS, CarmeloAnthony_PTS, DwightHoward_PTS, ChrisBosh_PTS, ChrisPaul_PTS, KevinDurant_PTS, DerrickRose_PTS, DwayneWade_PTS])

In [25]:
import pandas as pd
Salaries_dict2005={'KobeBryant': 15946875,
              'JoeJohnson':12000000,
              'LeBronJames':4621800,
              'CarmeloAnthony':3713640,
              'DwightHoward':4493160,
              'ChrisBosh':3348000,
              'ChrisPaul':3144240,
              'KevinDurant':0,
              'DerrickRose':0,
              'DwayneWade':3031920}
print(type(Salaries_dict2005))
Salaries2005=pd.Series(Salaries_dict2005)
Salaries2005

<class 'dict'>

KobeBryant        15946875
JoeJohnson        12000000
LeBronJames        4621800
CarmeloAnthony     3713640
DwightHoward       4493160
ChrisBosh          3348000
ChrisPaul          3144240
KevinDurant              0
DerrickRose              0
DwayneWade         3031920
dtype: int64

In [26]:
Games_dict2005={'KobeBryant': 80,
              'JoeJohnson':82,
              'LeBronJames':79,
              'CarmeloAnthony':80,
              'DwightHoward':82,
              'ChrisBosh':70,
              'ChrisPaul':78,
              'KevinDurant':35,
              'DerrickRose':40,
              'DwayneWade':75}
print(type(Games_dict2005))
Games2005=pd.Series(Games_dict2005)
Games2005

<class 'dict'>

KobeBryant        80
JoeJohnson        82
LeBronJames       79
CarmeloAnthony    80
DwightHoward      82
ChrisBosh         70
ChrisPaul         78
KevinDurant       35
DerrickRose       40
DwayneWade        75
dtype: int64

In [27]:
Minutes_dict2005={'KobeBryant': 3277,
              'JoeJohnson':3340,
              'LeBronJames':3361,
              'CarmeloAnthony':2941,
              'DwightHoward':3021,
              'ChrisBosh':2751,
              'ChrisPaul':2808,
              'KevinDurant':1255,
              'DerrickRose':1168,
              'DwayneWade':2892}
print(type(Minutes_dict2005))
Minutes2005=pd.Series(Minutes_dict2005)
Minutes2005

<class 'dict'>

KobeBryant        3277
JoeJohnson        3340
LeBronJames       3361
CarmeloAnthony    2941
DwightHoward      3021
ChrisBosh         2751
ChrisPaul         2808
KevinDurant       1255
DerrickRose       1168
DwayneWade        2892
dtype: int64

In [28]:
Goals_dict2005={'KobeBryant': 978,
              'JoeJohnson':632,
              'LeBronJames':875,
              'CarmeloAnthony':756,
              'DwightHoward':468,
              'ChrisBosh':549,
              'ChrisPaul':407,
              'KevinDurant':306,
              'DerrickRose':208,
              'DwayneWade':699}
print(type(Goals_dict2005))
Goals2005=pd.Series(Goals_dict2005)
Goals2005

<class 'dict'>

KobeBryant        978
JoeJohnson        632
LeBronJames       875
CarmeloAnthony    756
DwightHoward      468
ChrisBosh         549
ChrisPaul         407
KevinDurant       306
DerrickRose       208
DwayneWade        699
dtype: int64

In [29]:
Attempts_dict2005={'KobeBryant': 2173,
              'JoeJohnson':1395,
              'LeBronJames':1823,
              'CarmeloAnthony':1572,
              'DwightHoward':881,
              'ChrisBosh':1087,
              'ChrisPaul':947,
              'KevinDurant':647,
              'DerrickRose':436,
              'DwayneWade':1413}
print(type(Attempts_dict2005))
Attempts2005=pd.Series(Attempts_dict2005)
Attempts2005

<class 'dict'>

KobeBryant        2173
JoeJohnson        1395
LeBronJames       1823
CarmeloAnthony    1572
DwightHoward       881
ChrisBosh         1087
ChrisPaul          947
KevinDurant        647
DerrickRose        436
DwayneWade        1413
dtype: int64

In [30]:
Points_dict2005={'KobeBryant': 2832,
              'JoeJohnson':1653,
              'LeBronJames':2478,
              'CarmeloAnthony':2122,
              'DwightHoward':1292,
              'ChrisBosh':1572,
              'ChrisPaul':1258,
              'KevinDurant':903,
              'DerrickRose':597,
              'DwayneWade':2040}
print(type(Points_dict2005))
Points2005=pd.Series(Points_dict2005)
Points2005

<class 'dict'>

KobeBryant        2832
JoeJohnson        1653
LeBronJames       2478
CarmeloAnthony    2122
DwightHoward      1292
ChrisBosh         1572
ChrisPaul         1258
KevinDurant        903
DerrickRose        597
DwayneWade        2040
dtype: int64

In [31]:
Players2005=pd.DataFrame({'Salaries2005': Salaries2005, 
                      'Games2005':Games2005, 
                      'Minutes2005':Minutes2005, 
                      'Goals2005':Goals2005, 
                      'Attempts2005':Attempts2005, 
                      'Points2005':Points2005})
Players2005

,Salaries2005,Games2005,Minutes2005,Goals2005,Attempts2005,Points2005
KobeBryant,15946875,80,3277,978,2173,2832
JoeJohnson,12000000,82,3340,632,1395,1653
LeBronJames,4621800,79,3361,875,1823,2478
CarmeloAnthony,3713640,80,2941,756,1572,2122
DwightHoward,4493160,82,3021,468,881,1292
ChrisBosh,3348000,70,2751,549,1087,1572
ChrisPaul,3144240,78,2808,407,947,1258
KevinDurant,0,35,1255,306,647,903
DerrickRose,0,40,1168,208,436,597
DwayneWade,3031920,75,2892,699,1413,2040

In [32]:
Salaries_dict2006={'KobeBryant': 17718750,
              'JoeJohnson':12744189,
              'LeBronJames':5828090,
              'CarmeloAnthony':4694041,
              'DwightHoward':4806720,
              'ChrisBosh':4235220,
              'ChrisPaul':3380160,
              'KevinDurant':0,
              'DerrickRose':0,
              'DwayneWade':3841443}
print(type(Salaries_dict2006))
Salaries2006=pd.Series(Salaries_dict2006)
Salaries2006

<class 'dict'>

KobeBryant        17718750
JoeJohnson        12744189
LeBronJames        5828090
CarmeloAnthony     4694041
DwightHoward       4806720
ChrisBosh          4235220
ChrisPaul          3380160
KevinDurant              0
DerrickRose              0
DwayneWade         3841443
dtype: int64

In [34]:
Games_dict2006={'KobeBryant': 77,
              'JoeJohnson':57,
              'LeBronJames':78,
              'CarmeloAnthony':65,
              'DwightHoward':82,
              'ChrisBosh':69,
              'ChrisPaul':64,
              'KevinDurant':35,
              'DerrickRose':40,
              'DwayneWade':51}
print(type(Games_dict2006))
Games2006=pd.Series(Games_dict2006)
Games2006

<class 'dict'>

KobeBryant        77
JoeJohnson        57
LeBronJames       78
CarmeloAnthony    65
DwightHoward      82
ChrisBosh         69
ChrisPaul         64
KevinDurant       35
DerrickRose       40
DwayneWade        51
dtype: int64

In [35]:
Minutes_dict2006={'KobeBryant': 3140,
              'JoeJohnson':2359,
              'LeBronJames':3190,
              'CarmeloAnthony':2486,
              'DwightHoward':3023,
              'ChrisBosh':2658,
              'ChrisPaul':2353,
              'KevinDurant':1255,
              'DerrickRose':1168,
              'DwayneWade':1931}
print(type(Minutes_dict2006))
Minutes2006=pd.Series(Minutes_dict2006)
Minutes2006

<class 'dict'>

KobeBryant        3140
JoeJohnson        2359
LeBronJames       3190
CarmeloAnthony    2486
DwightHoward      3023
ChrisBosh         2658
ChrisPaul         2353
KevinDurant       1255
DerrickRose       1168
DwayneWade        1931
dtype: int64

In [36]:
Goals_dict2006={'KobeBryant': 813,
              'JoeJohnson':536,
              'LeBronJames':772,
              'CarmeloAnthony':691,
              'DwightHoward':526,
              'ChrisBosh':543,
              'ChrisPaul':381,
              'KevinDurant':306,
              'DerrickRose':208,
              'DwayneWade':472}
print(type(Goals_dict2006))
Goals2006=pd.Series(Goals_dict2006)
Goals2006

<class 'dict'>

KobeBryant        813
JoeJohnson        536
LeBronJames       772
CarmeloAnthony    691
DwightHoward      526
ChrisBosh         543
ChrisPaul         381
KevinDurant       306
DerrickRose       208
DwayneWade        472
dtype: int64

In [37]:
Attempts_dict2006={'KobeBryant': 1757,
              'JoeJohnson':1139,
              'LeBronJames':1621,
              'CarmeloAnthony':1453,
              'DwightHoward':873,
              'ChrisBosh':1094,
              'ChrisPaul':871,
              'KevinDurant':647,
              'DerrickRose':436,
              'DwayneWade':962}
print(type(Attempts_dict2006))
Attempts2006=pd.Series(Attempts_dict2006)
Attempts2006

<class 'dict'>

KobeBryant        1757
JoeJohnson        1139
LeBronJames       1621
CarmeloAnthony    1453
DwightHoward       873
ChrisBosh         1094
ChrisPaul          871
KevinDurant        647
DerrickRose        436
DwayneWade         962
dtype: int64

In [38]:
Points_dict2006={'KobeBryant': 2430,
              'JoeJohnson':1426,
              'LeBronJames':2132,
              'CarmeloAnthony':1881,
              'DwightHoward':1443,
              'ChrisBosh':1561,
              'ChrisPaul':1104,
              'KevinDurant':903,
              'DerrickRose':597,
              'DwayneWade':1397}
print(type(Points_dict2006))
Points2006=pd.Series(Points_dict2006)
Points2006

<class 'dict'>

KobeBryant        2430
JoeJohnson        1426
LeBronJames       2132
CarmeloAnthony    1881
DwightHoward      1443
ChrisBosh         1561
ChrisPaul         1104
KevinDurant        903
DerrickRose        597
DwayneWade        1397
dtype: int64

In [39]:
Players2006=pd.DataFrame({'Salaries2006': Salaries2006, 
                      'Games2006':Games2006, 
                      'Minutes2006':Minutes2006, 
                      'Goals2006':Goals2006, 
                      'Attempts2006':Attempts2006, 
                      'Points2006':Points2006})
Players2006

,Salaries2006,Games2006,Minutes2006,Goals2006,Attempts2006,Points2006
KobeBryant,17718750,77,3140,813,1757,2430
JoeJohnson,12744189,57,2359,536,1139,1426
LeBronJames,5828090,78,3190,772,1621,2132
CarmeloAnthony,4694041,65,2486,691,1453,1881
DwightHoward,4806720,82,3023,526,873,1443
ChrisBosh,4235220,69,2658,543,1094,1561
ChrisPaul,3380160,64,2353,381,871,1104
KevinDurant,0,35,1255,306,647,903
DerrickRose,0,40,1168,208,436,597
DwayneWade,3841443,51,1931,472,962,1397

In [40]:
Salaries_dict2007={'KobeBryant': 19490625,
              'JoeJohnson':13488377,
              'LeBronJames':13041250,
              'CarmeloAnthony':13041250,
              'DwightHoward':6061274,
              'ChrisBosh':12455000,
              'ChrisPaul':3615960,
              'KevinDurant':4171200,
              'DerrickRose':0,
              'DwayneWade':13041250}
print(type(Salaries_dict2007))
Salaries2007=pd.Series(Salaries_dict2007)
Salaries2007

<class 'dict'>

KobeBryant        19490625
JoeJohnson        13488377
LeBronJames       13041250
CarmeloAnthony    13041250
DwightHoward       6061274
ChrisBosh         12455000
ChrisPaul          3615960
KevinDurant        4171200
DerrickRose              0
DwayneWade        13041250
dtype: int64

In [41]:
Games_dict2007={'KobeBryant': 82,
              'JoeJohnson':82,
              'LeBronJames':75,
              'CarmeloAnthony':77,
              'DwightHoward':82,
              'ChrisBosh':67,
              'ChrisPaul':80,
              'KevinDurant':80,
              'DerrickRose':40,
              'DwayneWade':51}
print(type(Games_dict2007))
Games2007=pd.Series(Games_dict2007)
Games2007

<class 'dict'>

KobeBryant        82
JoeJohnson        82
LeBronJames       75
CarmeloAnthony    77
DwightHoward      82
ChrisBosh         67
ChrisPaul         80
KevinDurant       80
DerrickRose       40
DwayneWade        51
dtype: int64

In [42]:
Minutes_dict2007={'KobeBryant': 3192,
              'JoeJohnson':3343,
              'LeBronJames':3027,
              'CarmeloAnthony':2806,
              'DwightHoward':3088,
              'ChrisBosh':2425,
              'ChrisPaul':3006,
              'KevinDurant':2768,
              'DerrickRose':1168,
              'DwayneWade':1954}
print(type(Minutes_dict2007))
Minutes2007=pd.Series(Minutes_dict2007)
Minutes2007

<class 'dict'>

KobeBryant        3192
JoeJohnson        3343
LeBronJames       3027
CarmeloAnthony    2806
DwightHoward      3088
ChrisBosh         2425
ChrisPaul         3006
KevinDurant       2768
DerrickRose       1168
DwayneWade        1954
dtype: int64

In [43]:
Goals_dict2007={'KobeBryant': 775,
              'JoeJohnson':647,
              'LeBronJames':794,
              'CarmeloAnthony':728,
              'DwightHoward':583,
              'ChrisBosh':507,
              'ChrisPaul':630,
              'KevinDurant':587,
              'DerrickRose':208,
              'DwayneWade':439}
print(type(Goals_dict2007))
Goals2007=pd.Series(Goals_dict2007)
Goals2007

<class 'dict'>

KobeBryant        775
JoeJohnson        647
LeBronJames       794
CarmeloAnthony    728
DwightHoward      583
ChrisBosh         507
ChrisPaul         630
KevinDurant       587
DerrickRose       208
DwayneWade        439
dtype: int64

In [44]:
Attempts_dict2007={'KobeBryant': 1690,
              'JoeJohnson':1497,
              'LeBronJames':1642,
              'CarmeloAnthony':1481,
              'DwightHoward':974,
              'ChrisBosh':1027,
              'ChrisPaul':1291,
              'KevinDurant':1366,
              'DerrickRose':436,
              'DwayneWade':937}
print(type(Attempts_dict2007))
Attempts2007=pd.Series(Attempts_dict2007)
Attempts2007

<class 'dict'>

KobeBryant        1690
JoeJohnson        1497
LeBronJames       1642
CarmeloAnthony    1481
DwightHoward       974
ChrisBosh         1027
ChrisPaul         1291
KevinDurant       1366
DerrickRose        436
DwayneWade         937
dtype: int64

In [46]:
Points_dict2007={'KobeBryant': 2323,
              'JoeJohnson':1779,
              'LeBronJames':2250,
              'CarmeloAnthony':1978,
              'DwightHoward':1695,
              'ChrisBosh':1496,
              'ChrisPaul':1684,
              'KevinDurant':1624,
              'DerrickRose':597,
              'DwayneWade':1254}
print(type(Points_dict2007))
Points2007=pd.Series(Points_dict2007)
Points2007

<class 'dict'>

KobeBryant        2323
JoeJohnson        1779
LeBronJames       2250
CarmeloAnthony    1978
DwightHoward      1695
ChrisBosh         1496
ChrisPaul         1684
KevinDurant       1624
DerrickRose        597
DwayneWade        1254
dtype: int64

In [47]:
Players2007=pd.DataFrame({'Salaries2007': Salaries2007, 
                      'Games2007':Games2007, 
                      'Minutes2007':Minutes2007, 
                      'Goals2007':Goals2007, 
                      'Attempts2007':Attempts2007, 
                      'Points2007':Points2007})
Players2007

,Salaries2007,Games2007,Minutes2007,Goals2007,Attempts2007,Points2007
KobeBryant,19490625,82,3192,775,1690,2323
JoeJohnson,13488377,82,3343,647,1497,1779
LeBronJames,13041250,75,3027,794,1642,2250
CarmeloAnthony,13041250,77,2806,728,1481,1978
DwightHoward,6061274,82,3088,583,974,1695
ChrisBosh,12455000,67,2425,507,1027,1496
ChrisPaul,3615960,80,3006,630,1291,1684
KevinDurant,4171200,80,2768,587,1366,1624
DerrickRose,0,40,1168,208,436,597
DwayneWade,13041250,51,1954,439,937,1254

In [48]:
Salaries_dict2008={'KobeBryant':21262500 ,
              'JoeJohnson':14232567,
              'LeBronJames':14410581,
              'CarmeloAnthony':14410581,
              'DwightHoward':13758000,
              'ChrisBosh':14410581,
              'ChrisPaul':4574189,
              'KevinDurant':4484040,
              'DerrickRose':4822800,
              'DwayneWade':14410581}
print(type(Salaries_dict2008))
Salaries2008=pd.Series(Salaries_dict2008)
Salaries2008

<class 'dict'>

KobeBryant        21262500
JoeJohnson        14232567
LeBronJames       14410581
CarmeloAnthony    14410581
DwightHoward      13758000
ChrisBosh         14410581
ChrisPaul          4574189
KevinDurant        4484040
DerrickRose        4822800
DwayneWade        14410581
dtype: int64

In [49]:
Games_dict2008={'KobeBryant': 82,
              'JoeJohnson':79,
              'LeBronJames':81,
              'CarmeloAnthony':66,
              'DwightHoward':79,
              'ChrisBosh':77,
              'ChrisPaul':78,
              'KevinDurant':74,
              'DerrickRose':81,
              'DwayneWade':79}
print(type(Games_dict2008))
Games2008=pd.Series(Games_dict2008)
Games2008

<class 'dict'>

KobeBryant        82
JoeJohnson        79
LeBronJames       81
CarmeloAnthony    66
DwightHoward      79
ChrisBosh         77
ChrisPaul         78
KevinDurant       74
DerrickRose       81
DwayneWade        79
dtype: int64

In [50]:
Minutes_dict2008={'KobeBryant': 2960,
              'JoeJohnson':3124,
              'LeBronJames':3054,
              'CarmeloAnthony':2277,
              'DwightHoward':2821,
              'ChrisBosh':2928,
              'ChrisPaul':3002,
              'KevinDurant':2885,
              'DerrickRose':3000,
              'DwayneWade':3048}
print(type(Minutes_dict2008))
Minutes2008=pd.Series(Minutes_dict2008)
Minutes2008

<class 'dict'>

KobeBryant        2960
JoeJohnson        3124
LeBronJames       3054
CarmeloAnthony    2277
DwightHoward      2821
ChrisBosh         2928
ChrisPaul         3002
KevinDurant       2885
DerrickRose       3000
DwayneWade        3048
dtype: int64

In [51]:
Goals_dict2008={'KobeBryant': 800,
              'JoeJohnson':620,
              'LeBronJames':789,
              'CarmeloAnthony':535,
              'DwightHoward':560,
              'ChrisBosh':615,
              'ChrisPaul':631,
              'KevinDurant':661,
              'DerrickRose':574,
              'DwayneWade':854}
print(type(Goals_dict2008))
Goals2008=pd.Series(Goals_dict2008)
Goals2008

<class 'dict'>

KobeBryant        800
JoeJohnson        620
LeBronJames       789
CarmeloAnthony    535
DwightHoward      560
ChrisBosh         615
ChrisPaul         631
KevinDurant       661
DerrickRose       574
DwayneWade        854
dtype: int64

In [52]:
Attempts_dict2008={'KobeBryant': 1712,
              'JoeJohnson':1420,
              'LeBronJames':1613,
              'CarmeloAnthony':1207,
              'DwightHoward':979,
              'ChrisBosh':1263,
              'ChrisPaul':1255,
              'KevinDurant':1390,
              'DerrickRose':1208,
              'DwayneWade':1739}
print(type(Attempts_dict2008))
Attempts2008=pd.Series(Attempts_dict2008)
Attempts2008

<class 'dict'>

KobeBryant        1712
JoeJohnson        1420
LeBronJames       1613
CarmeloAnthony    1207
DwightHoward       979
ChrisBosh         1263
ChrisPaul         1255
KevinDurant       1390
DerrickRose       1208
DwayneWade        1739
dtype: int64

In [53]:
Points_dict2008={'KobeBryant': 2201,
              'JoeJohnson':1688,
              'LeBronJames':2304,
              'CarmeloAnthony':1504,
              'DwightHoward':1624,
              'ChrisBosh':1746,
              'ChrisPaul':1781,
              'KevinDurant':1871,
              'DerrickRose':1361,
              'DwayneWade':2386}
print(type(Points_dict2008))
Points2008=pd.Series(Points_dict2008)
Points2008

<class 'dict'>

KobeBryant        2201
JoeJohnson        1688
LeBronJames       2304
CarmeloAnthony    1504
DwightHoward      1624
ChrisBosh         1746
ChrisPaul         1781
KevinDurant       1871
DerrickRose       1361
DwayneWade        2386
dtype: int64

In [54]:
Players2008=pd.DataFrame({'Salaries2008': Salaries2008, 
                      'Games2008':Games2008, 
                      'Minutes2008':Minutes2008, 
                      'Goals2008':Goals2008, 
                      'Attempts2008':Attempts2008, 
                      'Points2008':Points2008})
Players2008

,Salaries2008,Games2008,Minutes2008,Goals2008,Attempts2008,Points2008
KobeBryant,21262500,82,2960,800,1712,2201
JoeJohnson,14232567,79,3124,620,1420,1688
LeBronJames,14410581,81,3054,789,1613,2304
CarmeloAnthony,14410581,66,2277,535,1207,1504
DwightHoward,13758000,79,2821,560,979,1624
ChrisBosh,14410581,77,2928,615,1263,1746
ChrisPaul,4574189,78,3002,631,1255,1781
KevinDurant,4484040,74,2885,661,1390,1871
DerrickRose,4822800,81,3000,574,1208,1361
DwayneWade,14410581,79,3048,854,1739,2386

In [55]:
Salaries_dict2009={'KobeBryant':23034375,
              'JoeJohnson':14976754,
              'LeBronJames':15779912,
              'CarmeloAnthony':15779912,
              'DwightHoward':15202590,
              'ChrisBosh':15779912,
              'ChrisPaul':13520500,
              'KevinDurant':4796880,
              'DerrickRose':5184480,
              'DwayneWade':15779912}
print(type(Salaries_dict2009))
Salaries2009=pd.Series(Salaries_dict2009)
Salaries2009

<class 'dict'>

KobeBryant        23034375
JoeJohnson        14976754
LeBronJames       15779912
CarmeloAnthony    15779912
DwightHoward      15202590
ChrisBosh         15779912
ChrisPaul         13520500
KevinDurant        4796880
DerrickRose        5184480
DwayneWade        15779912
dtype: int64

In [56]:
Games_dict2009={'KobeBryant': 73,
              'JoeJohnson':76,
              'LeBronJames':76,
              'CarmeloAnthony':69,
              'DwightHoward':82,
              'ChrisBosh':70,
              'ChrisPaul':45,
              'KevinDurant':82,
              'DerrickRose':78,
              'DwayneWade':77}
print(type(Games_dict2009))
Games2009=pd.Series(Games_dict2009)
Games2009

<class 'dict'>

KobeBryant        73
JoeJohnson        76
LeBronJames       76
CarmeloAnthony    69
DwightHoward      82
ChrisBosh         70
ChrisPaul         45
KevinDurant       82
DerrickRose       78
DwayneWade        77
dtype: int64

In [57]:
Minutes_dict2009={'KobeBryant': 2835,
              'JoeJohnson':2886,
              'LeBronJames':3054,
              'CarmeloAnthony':2966,
              'DwightHoward':2634,
              'ChrisBosh':2526,
              'ChrisPaul':1712,
              'KevinDurant':3239,
              'DerrickRose':2871,
              'DwayneWade':2792}
print(type(Minutes_dict2009))
Minutes2009=pd.Series(Minutes_dict2009)
Minutes2009

<class 'dict'>

KobeBryant        2835
JoeJohnson        2886
LeBronJames       3054
CarmeloAnthony    2966
DwightHoward      2634
ChrisBosh         2526
ChrisPaul         1712
KevinDurant       3239
DerrickRose       2871
DwayneWade        2792
dtype: int64

In [58]:
Goals_dict2009={'KobeBryant': 800,
              'JoeJohnson':620,
              'LeBronJames':789,
              'CarmeloAnthony':535,
              'DwightHoward':560,
              'ChrisBosh':615,
              'ChrisPaul':631,
              'KevinDurant':661,
              'DerrickRose':574,
              'DwayneWade':854}
print(type(Goals_dict2009))
Goals2009=pd.Series(Goals_dict2009)
Goals2009

<class 'dict'>

KobeBryant        800
JoeJohnson        620
LeBronJames       789
CarmeloAnthony    535
DwightHoward      560
ChrisBosh         615
ChrisPaul         631
KevinDurant       661
DerrickRose       574
DwayneWade        854
dtype: int64

In [59]:
Attempts_dict2009={'KobeBryant': 1712,
              'JoeJohnson':1420,
              'LeBronJames':1613,
              'CarmeloAnthony':1207,
              'DwightHoward':979,
              'ChrisBosh':1263,
              'ChrisPaul':1255,
              'KevinDurant':1390,
              'DerrickRose':1208,
              'DwayneWade':1739}
print(type(Attempts_dict2009))
Attempts2009=pd.Series(Attempts_dict2009)
Attempts2009

<class 'dict'>

KobeBryant        1712
JoeJohnson        1420
LeBronJames       1613
CarmeloAnthony    1207
DwightHoward       979
ChrisBosh         1263
ChrisPaul         1255
KevinDurant       1390
DerrickRose       1208
DwayneWade        1739
dtype: int64

In [60]:
Points_dict2009={'KobeBryant': 2201,
              'JoeJohnson':1688,
              'LeBronJames':2304,
              'CarmeloAnthony':1504,
              'DwightHoward':1624,
              'ChrisBosh':1746,
              'ChrisPaul':1781,
              'KevinDurant':1871,
              'DerrickRose':1361,
              'DwayneWade':2386}
print(type(Points_dict2009))
Points2009=pd.Series(Points_dict2009)
Points2009

<class 'dict'>

KobeBryant        2201
JoeJohnson        1688
LeBronJames       2304
CarmeloAnthony    1504
DwightHoward      1624
ChrisBosh         1746
ChrisPaul         1781
KevinDurant       1871
DerrickRose       1361
DwayneWade        2386
dtype: int64

In [61]:
Players2009=pd.DataFrame({'Salaries2009': Salaries2009, 
                      'Games2009':Games2009, 
                      'Minutes2009':Minutes2009, 
                      'Goals2009':Goals2009, 
                      'Attempts2009':Attempts2009, 
                      'Points2009':Points2009})
Players2009

,Salaries2009,Games2009,Minutes2009,Goals2009,Attempts2009,Points2009
KobeBryant,23034375,73,2835,800,1712,2201
JoeJohnson,14976754,76,2886,620,1420,1688
LeBronJames,15779912,76,3054,789,1613,2304
CarmeloAnthony,15779912,69,2966,535,1207,1504
DwightHoward,15202590,82,2634,560,979,1624
ChrisBosh,15779912,70,2526,615,1263,1746
ChrisPaul,13520500,45,1712,631,1255,1781
KevinDurant,4796880,82,3239,661,1390,1871
DerrickRose,5184480,78,2871,574,1208,1361
DwayneWade,15779912,77,2792,854,1739,2386

In [62]:
Salaries_dict2010={'KobeBryant':23034375,
              'JoeJohnson':14976754,
              'LeBronJames':15779912,
              'CarmeloAnthony':15779912,
              'DwightHoward':15202590,
              'ChrisBosh':15779912,
              'ChrisPaul':13520500,
              'KevinDurant':4796880,
              'DerrickRose':5184480,
              'DwayneWade':15779912}
print(type(Salaries_dict2010))
Salaries2010=pd.Series(Salaries_dict2010)
Salaries2010

<class 'dict'>

KobeBryant        23034375
JoeJohnson        14976754
LeBronJames       15779912
CarmeloAnthony    15779912
DwightHoward      15202590
ChrisBosh         15779912
ChrisPaul         13520500
KevinDurant        4796880
DerrickRose        5184480
DwayneWade        15779912
dtype: int64

In [63]:
Games_dict2010={'KobeBryant': 73,
              'JoeJohnson':76,
              'LeBronJames':76,
              'CarmeloAnthony':69,
              'DwightHoward':82,
              'ChrisBosh':70,
              'ChrisPaul':45,
              'KevinDurant':82,
              'DerrickRose':78,
              'DwayneWade':77}
print(type(Games_dict2010))
Games2010=pd.Series(Games_dict2010)
Games2010

<class 'dict'>

KobeBryant        73
JoeJohnson        76
LeBronJames       76
CarmeloAnthony    69
DwightHoward      82
ChrisBosh         70
ChrisPaul         45
KevinDurant       82
DerrickRose       78
DwayneWade        77
dtype: int64

In [64]:
Minutes_dict2010={'KobeBryant': 2835,
              'JoeJohnson':2886,
              'LeBronJames':3054,
              'CarmeloAnthony':2966,
              'DwightHoward':2634,
              'ChrisBosh':2526,
              'ChrisPaul':1712,
              'KevinDurant':3239,
              'DerrickRose':2871,
              'DwayneWade':2792}
print(type(Minutes_dict2010))
Minutes2010=pd.Series(Minutes_dict2010)
Minutes2010

<class 'dict'>

KobeBryant        2835
JoeJohnson        2886
LeBronJames       3054
CarmeloAnthony    2966
DwightHoward      2634
ChrisBosh         2526
ChrisPaul         1712
KevinDurant       3239
DerrickRose       2871
DwayneWade        2792
dtype: int64

In [65]:
Goals_dict2010={'KobeBryant': 800,
              'JoeJohnson':620,
              'LeBronJames':789,
              'CarmeloAnthony':535,
              'DwightHoward':560,
              'ChrisBosh':615,
              'ChrisPaul':631,
              'KevinDurant':661,
              'DerrickRose':574,
              'DwayneWade':854}
print(type(Goals_dict2010))
Goals2010=pd.Series(Goals_dict2010)
Goals2010

<class 'dict'>

KobeBryant        800
JoeJohnson        620
LeBronJames       789
CarmeloAnthony    535
DwightHoward      560
ChrisBosh         615
ChrisPaul         631
KevinDurant       661
DerrickRose       574
DwayneWade        854
dtype: int64

In [66]:
Attempts_dict2010={'KobeBryant': 1712,
              'JoeJohnson':1420,
              'LeBronJames':1613,
              'CarmeloAnthony':1207,
              'DwightHoward':979,
              'ChrisBosh':1263,
              'ChrisPaul':1255,
              'KevinDurant':1390,
              'DerrickRose':1208,
              'DwayneWade':1739}
print(type(Attempts_dict2010))
Attempts2010=pd.Series(Attempts_dict2010)
Attempts2010

<class 'dict'>

KobeBryant        1712
JoeJohnson        1420
LeBronJames       1613
CarmeloAnthony    1207
DwightHoward       979
ChrisBosh         1263
ChrisPaul         1255
KevinDurant       1390
DerrickRose       1208
DwayneWade        1739
dtype: int64

In [67]:
Points_dict2010={'KobeBryant': 2201,
              'JoeJohnson':1688,
              'LeBronJames':2304,
              'CarmeloAnthony':1504,
              'DwightHoward':1624,
              'ChrisBosh':1746,
              'ChrisPaul':1781,
              'KevinDurant':1871,
              'DerrickRose':1361,
              'DwayneWade':2386}
print(type(Points_dict2010))
Points2010=pd.Series(Points_dict2010)
Points2010

<class 'dict'>

KobeBryant        2201
JoeJohnson        1688
LeBronJames       2304
CarmeloAnthony    1504
DwightHoward      1624
ChrisBosh         1746
ChrisPaul         1781
KevinDurant       1871
DerrickRose       1361
DwayneWade        2386
dtype: int64

In [68]:
Players2010=pd.DataFrame({'Salaries2010': Salaries2010, 
                      'Games2010':Games2010, 
                      'Minutes2010':Minutes2010, 
                      'Goals2010':Goals2010, 
                      'Attempts2010':Attempts2010, 
                      'Points2010':Points2010})
Players2010

,Salaries2010,Games2010,Minutes2010,Goals2010,Attempts2010,Points2010
KobeBryant,23034375,73,2835,800,1712,2201
JoeJohnson,14976754,76,2886,620,1420,1688
LeBronJames,15779912,76,3054,789,1613,2304
CarmeloAnthony,15779912,69,2966,535,1207,1504
DwightHoward,15202590,82,2634,560,979,1624
ChrisBosh,15779912,70,2526,615,1263,1746
ChrisPaul,13520500,45,1712,631,1255,1781
KevinDurant,4796880,82,3239,661,1390,1871
DerrickRose,5184480,78,2871,574,1208,1361
DwayneWade,15779912,77,2792,854,1739,2386

In [69]:
Salaries_dict2011={'KobeBryant':23034375,
              'JoeJohnson':14976754,
              'LeBronJames':15779912,
              'CarmeloAnthony':15779912,
              'DwightHoward':15202590,
              'ChrisBosh':15779912,
              'ChrisPaul':13520500,
              'KevinDurant':4796880,
              'DerrickRose':5184480,
              'DwayneWade':15779912}
print(type(Salaries_dict2011))
Salaries2011=pd.Series(Salaries_dict2011)
Salaries2011

<class 'dict'>

KobeBryant        23034375
JoeJohnson        14976754
LeBronJames       15779912
CarmeloAnthony    15779912
DwightHoward      15202590
ChrisBosh         15779912
ChrisPaul         13520500
KevinDurant        4796880
DerrickRose        5184480
DwayneWade        15779912
dtype: int64

In [70]:
Games_dict2011={'KobeBryant': 73,
              'JoeJohnson':76,
              'LeBronJames':76,
              'CarmeloAnthony':69,
              'DwightHoward':82,
              'ChrisBosh':70,
              'ChrisPaul':45,
              'KevinDurant':82,
              'DerrickRose':78,
              'DwayneWade':77}
print(type(Games_dict2011))
Games2011=pd.Series(Games_dict2011)
Games2011

<class 'dict'>

KobeBryant        73
JoeJohnson        76
LeBronJames       76
CarmeloAnthony    69
DwightHoward      82
ChrisBosh         70
ChrisPaul         45
KevinDurant       82
DerrickRose       78
DwayneWade        77
dtype: int64

In [71]:
Minutes_dict2011={'KobeBryant': 2835,
              'JoeJohnson':2886,
              'LeBronJames':3054,
              'CarmeloAnthony':2966,
              'DwightHoward':2634,
              'ChrisBosh':2526,
              'ChrisPaul':1712,
              'KevinDurant':3239,
              'DerrickRose':2871,
              'DwayneWade':2792}
print(type(Minutes_dict2011))
Minutes2011=pd.Series(Minutes_dict2011)
Minutes2011

<class 'dict'>

KobeBryant        2835
JoeJohnson        2886
LeBronJames       3054
CarmeloAnthony    2966
DwightHoward      2634
ChrisBosh         2526
ChrisPaul         1712
KevinDurant       3239
DerrickRose       2871
DwayneWade        2792
dtype: int64

In [72]:
Goals_dict2011={'KobeBryant': 800,
              'JoeJohnson':620,
              'LeBronJames':789,
              'CarmeloAnthony':535,
              'DwightHoward':560,
              'ChrisBosh':615,
              'ChrisPaul':631,
              'KevinDurant':661,
              'DerrickRose':574,
              'DwayneWade':854}
print(type(Goals_dict2011))
Goals2011=pd.Series(Goals_dict2011)
Goals2011

<class 'dict'>

KobeBryant        800
JoeJohnson        620
LeBronJames       789
CarmeloAnthony    535
DwightHoward      560
ChrisBosh         615
ChrisPaul         631
KevinDurant       661
DerrickRose       574
DwayneWade        854
dtype: int64

In [73]:
Attempts_dict2011={'KobeBryant': 1712,
              'JoeJohnson':1420,
              'LeBronJames':1613,
              'CarmeloAnthony':1207,
              'DwightHoward':979,
              'ChrisBosh':1263,
              'ChrisPaul':1255,
              'KevinDurant':1390,
              'DerrickRose':1208,
              'DwayneWade':1739}
print(type(Attempts_dict2011))
Attempts2011=pd.Series(Attempts_dict2011)
Attempts2011

<class 'dict'>

KobeBryant        1712
JoeJohnson        1420
LeBronJames       1613
CarmeloAnthony    1207
DwightHoward       979
ChrisBosh         1263
ChrisPaul         1255
KevinDurant       1390
DerrickRose       1208
DwayneWade        1739
dtype: int64

In [74]:
Points_dict2011={'KobeBryant': 2201,
              'JoeJohnson':1688,
              'LeBronJames':2304,
              'CarmeloAnthony':1504,
              'DwightHoward':1624,
              'ChrisBosh':1746,
              'ChrisPaul':1781,
              'KevinDurant':1871,
              'DerrickRose':1361,
              'DwayneWade':2386}
print(type(Points_dict2011))
Points2011=pd.Series(Points_dict2011)
Points2011

<class 'dict'>

KobeBryant        2201
JoeJohnson        1688
LeBronJames       2304
CarmeloAnthony    1504
DwightHoward      1624
ChrisBosh         1746
ChrisPaul         1781
KevinDurant       1871
DerrickRose       1361
DwayneWade        2386
dtype: int64

In [75]:
Players2011=pd.DataFrame({'Salaries2011': Salaries2011, 
                      'Games2011':Games2011, 
                      'Minutes2011':Minutes2011, 
                      'Goals2011':Goals2011, 
                      'Attempts2011':Attempts2011, 
                      'Points2011':Points2011})
Players2011

,Salaries2011,Games2011,Minutes2011,Goals2011,Attempts2011,Points2011
KobeBryant,23034375,73,2835,800,1712,2201
JoeJohnson,14976754,76,2886,620,1420,1688
LeBronJames,15779912,76,3054,789,1613,2304
CarmeloAnthony,15779912,69,2966,535,1207,1504
DwightHoward,15202590,82,2634,560,979,1624
ChrisBosh,15779912,70,2526,615,1263,1746
ChrisPaul,13520500,45,1712,631,1255,1781
KevinDurant,4796880,82,3239,661,1390,1871
DerrickRose,5184480,78,2871,574,1208,1361
DwayneWade,15779912,77,2792,854,1739,2386

In [112]:
Salaries_dict2012={'KobeBryant':27849149,
              'JoeJohnson':19752645,
              'LeBronJames':17545000,
              'CarmeloAnthony':19450000,
              'DwightHoward':19536360,
              'ChrisBosh':17545000,
              'ChrisPaul':17779458,
              'KevinDurant':16669630,
              'DerrickRose':16402500,
              'DwayneWade':17182000}
print(type(Salaries_dict2012))
Salaries2012=pd.Series(Salaries_dict2012)
Salaries2012

<class 'dict'>

KobeBryant        27849149
JoeJohnson        19752645
LeBronJames       17545000
CarmeloAnthony    19450000
DwightHoward      19536360
ChrisBosh         17545000
ChrisPaul         17779458
KevinDurant       16669630
DerrickRose       16402500
DwayneWade        17182000
dtype: int64

In [113]:
Games_dict2012={'KobeBryant': 78,
              'JoeJohnson':72,
              'LeBronJames':76,
              'CarmeloAnthony':67,
              'DwightHoward':76,
              'ChrisBosh':74,
              'ChrisPaul':70,
              'KevinDurant':81,
              'DerrickRose':0,
              'DwayneWade':69}
print(type(Games_dict2012))
Games2012=pd.Series(Games_dict2012)
Games2012

<class 'dict'>

KobeBryant        78
JoeJohnson        72
LeBronJames       76
CarmeloAnthony    67
DwightHoward      76
ChrisBosh         74
ChrisPaul         70
KevinDurant       81
DerrickRose        0
DwayneWade        69
dtype: int64

In [114]:
Minutes_dict2012={'KobeBryant': 3013,
              'JoeJohnson':2642,
              'LeBronJames':2877,
              'CarmeloAnthony':2482,
              'DwightHoward':2722,
              'ChrisBosh':2454,
              'ChrisPaul':2335,
              'KevinDurant':3119,
              'DerrickRose':0,
              'DwayneWade':2391}
print(type(Minutes_dict2012))
Minutes2012=pd.Series(Minutes_dict2012)
Minutes2012

<class 'dict'>

KobeBryant        3013
JoeJohnson        2642
LeBronJames       2877
CarmeloAnthony    2482
DwightHoward      2722
ChrisBosh         2454
ChrisPaul         2335
KevinDurant       3119
DerrickRose          0
DwayneWade        2391
dtype: int64

In [115]:
Goals_dict2012={'KobeBryant': 738,
              'JoeJohnson':445,
              'LeBronJames':765,
              'CarmeloAnthony':669,
              'DwightHoward':470,
              'ChrisBosh':485,
              'ChrisPaul':412,
              'KevinDurant':731,
              'DerrickRose':0,
              'DwayneWade':569}
print(type(Goals_dict2012))
Goals2012=pd.Series(Goals_dict2012)
Goals2012

<class 'dict'>

KobeBryant        738
JoeJohnson        445
LeBronJames       765
CarmeloAnthony    669
DwightHoward      470
ChrisBosh         485
ChrisPaul         412
KevinDurant       731
DerrickRose         0
DwayneWade        569
dtype: int64

In [116]:
Attempts_dict2012={'KobeBryant': 1595,
              'JoeJohnson':1052,
              'LeBronJames':1354,
              'CarmeloAnthony':1489,
              'DwightHoward':813,
              'ChrisBosh':907,
              'ChrisPaul':856,
              'KevinDurant':1433,
              'DerrickRose':0,
              'DwayneWade':1093}
print(type(Attempts_dict2012))
Attempts2012=pd.Series(Attempts_dict2012)
Attempts2012

<class 'dict'>

KobeBryant        1595
JoeJohnson        1052
LeBronJames       1354
CarmeloAnthony    1489
DwightHoward       813
ChrisBosh          907
ChrisPaul          856
KevinDurant       1433
DerrickRose          0
DwayneWade        1093
dtype: int64

In [117]:
Points_dict2012={'KobeBryant': 2133,
              'JoeJohnson':1170,
              'LeBronJames':2036,
              'CarmeloAnthony':1920,
              'DwightHoward':1296,
              'ChrisBosh':1232,
              'ChrisPaul':1186,
              'KevinDurant':2280,
              'DerrickRose':0,
              'DwayneWade':1463}
print(type(Points_dict2012))
Points2012=pd.Series(Points_dict2012)
Points2012

<class 'dict'>

KobeBryant        2133
JoeJohnson        1170
LeBronJames       2036
CarmeloAnthony    1920
DwightHoward      1296
ChrisBosh         1232
ChrisPaul         1186
KevinDurant       2280
DerrickRose          0
DwayneWade        1463
dtype: int64

In [118]:
Players2012=pd.DataFrame({'Salaries2012': Salaries2012, 
                      'Games2012':Games2012, 
                      'Minutes2012':Minutes2012, 
                      'Goals2012':Goals2012, 
                      'Attempts2012':Attempts2012, 
                      'Points2012':Points2012})
Players2012

,Salaries2012,Games2012,Minutes2012,Goals2012,Attempts2012,Points2012
KobeBryant,27849149,78,3013,738,1595,2133
JoeJohnson,19752645,72,2642,445,1052,1170
LeBronJames,17545000,76,2877,765,1354,2036
CarmeloAnthony,19450000,67,2482,669,1489,1920
DwightHoward,19536360,76,2722,470,813,1296
ChrisBosh,17545000,74,2454,485,907,1232
ChrisPaul,17779458,70,2335,412,856,1186
KevinDurant,16669630,81,3119,731,1433,2280
DerrickRose,16402500,0,0,0,0,0
DwayneWade,17182000,69,2391,569,1093,1463

In [105]:
Salaries_dict2013={'KobeBryant':30453805,
              'JoeJohnson':21466718,
              'LeBronJames':19067500,
              'CarmeloAnthony':22407474,
              'DwightHoward':20513178,
              'ChrisBosh':19067500,
              'ChrisPaul':18668431,
              'KevinDurant':17832627,
              'DerrickRose':17632688,
              'DwayneWade':18673000}
print(type(Salaries_dict2013))
Salaries2013=pd.Series(Salaries_dict2013)
Salaries2013

<class 'dict'>

KobeBryant        30453805
JoeJohnson        21466718
LeBronJames       19067500
CarmeloAnthony    22407474
DwightHoward      20513178
ChrisBosh         19067500
ChrisPaul         18668431
KevinDurant       17832627
DerrickRose       17632688
DwayneWade        18673000
dtype: int64

In [106]:
Games_dict2013={'KobeBryant': 6,
              'JoeJohnson':79,
              'LeBronJames':77,
              'CarmeloAnthony':77,
              'DwightHoward':71,
              'ChrisBosh':79,
              'ChrisPaul':62,
              'KevinDurant':81,
              'DerrickRose':10,
              'DwayneWade':54}
print(type(Games_dict2013))
Games2013=pd.Series(Games_dict2013)
Games2013

<class 'dict'>

KobeBryant         6
JoeJohnson        79
LeBronJames       77
CarmeloAnthony    77
DwightHoward      71
ChrisBosh         79
ChrisPaul         62
KevinDurant       81
DerrickRose       10
DwayneWade        54
dtype: int64

In [107]:
Minutes_dict2013={'KobeBryant': 177,
              'JoeJohnson':2575,
              'LeBronJames':2902,
              'CarmeloAnthony':2982,
              'DwightHoward':2396,
              'ChrisBosh':2531,
              'ChrisPaul':2171,
              'KevinDurant':3122,
              'DerrickRose':311,
              'DwayneWade':1775}
print(type(Minutes_dict2013))
Minutes2013=pd.Series(Minutes_dict2013)
Minutes2013

<class 'dict'>

KobeBryant         177
JoeJohnson        2575
LeBronJames       2902
CarmeloAnthony    2982
DwightHoward      2396
ChrisBosh         2531
ChrisPaul         2171
KevinDurant       3122
DerrickRose        311
DwayneWade        1775
dtype: int64

In [108]:
Goals_dict2013={'KobeBryant': 31,
              'JoeJohnson':462,
              'LeBronJames':767,
              'CarmeloAnthony':743,
              'DwightHoward':473,
              'ChrisBosh':492,
              'ChrisPaul':406,
              'KevinDurant':849,
              'DerrickRose':58,
              'DwayneWade':415}
print(type(Goals_dict2013))
Goals2013=pd.Series(Goals_dict2013)
Goals2013

<class 'dict'>

KobeBryant         31
JoeJohnson        462
LeBronJames       767
CarmeloAnthony    743
DwightHoward      473
ChrisBosh         492
ChrisPaul         406
KevinDurant       849
DerrickRose        58
DwayneWade        415
dtype: int64

In [109]:
Attempts_dict2013={'KobeBryant': 73,
              'JoeJohnson':1018,
              'LeBronJames':1353,
              'CarmeloAnthony':1643,
              'DwightHoward':800,
              'ChrisBosh':953,
              'ChrisPaul':870,
              'KevinDurant':1688,
              'DerrickRose':164,
              'DwayneWade':761}
print(type(Attempts_dict2013))
Attempts2013=pd.Series(Attempts_dict2013)
Attempts2013

<class 'dict'>

KobeBryant          73
JoeJohnson        1018
LeBronJames       1353
CarmeloAnthony    1643
DwightHoward       800
ChrisBosh          953
ChrisPaul          870
KevinDurant       1688
DerrickRose        164
DwayneWade         761
dtype: int64

In [110]:
Points_dict2013={'KobeBryant': 83,
              'JoeJohnson':1245,
              'LeBronJames':2089,
              'CarmeloAnthony':2112,
              'DwightHoward':1297,
              'ChrisBosh':1281,
              'ChrisPaul':1185,
              'KevinDurant':2593,
              'DerrickRose':159,
              'DwayneWade':1028}
print(type(Points_dict2013))
Points2013=pd.Series(Points_dict2013)
Points2013

<class 'dict'>

KobeBryant          83
JoeJohnson        1245
LeBronJames       2089
CarmeloAnthony    2112
DwightHoward      1297
ChrisBosh         1281
ChrisPaul         1185
KevinDurant       2593
DerrickRose        159
DwayneWade        1028
dtype: int64

In [111]:
Players2013=pd.DataFrame({'Salaries2013': Salaries2013, 
                      'Games2013':Games2013, 
                      'Minutes2013':Minutes2013, 
                      'Goals2013':Goals2013, 
                      'Attempts2013':Attempts2013, 
                      'Points2013':Points2013})
Players2013

,Salaries2013,Games2013,Minutes2013,Goals2013,Attempts2013,Points2013
KobeBryant,30453805,6,177,31,73,83
JoeJohnson,21466718,79,2575,462,1018,1245
LeBronJames,19067500,77,2902,767,1353,2089
CarmeloAnthony,22407474,77,2982,743,1643,2112
DwightHoward,20513178,71,2396,473,800,1297
ChrisBosh,19067500,79,2531,492,953,1281
ChrisPaul,18668431,62,2171,406,870,1185
KevinDurant,17832627,81,3122,849,1688,2593
DerrickRose,17632688,10,311,58,164,159
DwayneWade,18673000,54,1775,415,761,1028

In [98]:
Salaries_dict2014={'KobeBryant':23500000,
              'JoeJohnson':23180790,
              'LeBronJames':20644400,
              'CarmeloAnthony':22458000,
              'DwightHoward':21436271,
              'ChrisBosh':20644400,
              'ChrisPaul':20068563,
              'KevinDurant':18995624,
              'DerrickRose':18862875,
              'DwayneWade':15000000}
print(type(Salaries_dict2014))
Salaries2014=pd.Series(Salaries_dict2014)
Salaries2014

<class 'dict'>

KobeBryant        23500000
JoeJohnson        23180790
LeBronJames       20644400
CarmeloAnthony    22458000
DwightHoward      21436271
ChrisBosh         20644400
ChrisPaul         20068563
KevinDurant       18995624
DerrickRose       18862875
DwayneWade        15000000
dtype: int64

In [99]:
Games_dict2014={'KobeBryant': 35,
              'JoeJohnson':80,
              'LeBronJames':69,
              'CarmeloAnthony':40,
              'DwightHoward':41,
              'ChrisBosh':44,
              'ChrisPaul':82,
              'KevinDurant':27,
              'DerrickRose':51,
              'DwayneWade':62}
print(type(Games_dict2014))
Games2014=pd.Series(Games_dict2014)
Games2014

<class 'dict'>

KobeBryant        35
JoeJohnson        80
LeBronJames       69
CarmeloAnthony    40
DwightHoward      41
ChrisBosh         44
ChrisPaul         82
KevinDurant       27
DerrickRose       51
DwayneWade        62
dtype: int64

In [100]:
Minutes_dict2014={'KobeBryant': 1207,
              'JoeJohnson':2791,
              'LeBronJames':2493,
              'CarmeloAnthony':1428,
              'DwightHoward':1223,
              'ChrisBosh':1556,
              'ChrisPaul':2857,
              'KevinDurant':913,
              'DerrickRose':1530,
              'DwayneWade':1971}
print(type(Minutes_dict2014))
Minutes2014=pd.Series(Minutes_dict2014)
Minutes2014

<class 'dict'>

KobeBryant        1207
JoeJohnson        2791
LeBronJames       2493
CarmeloAnthony    1428
DwightHoward      1223
ChrisBosh         1556
ChrisPaul         2857
KevinDurant        913
DerrickRose       1530
DwayneWade        1971
dtype: int64

In [101]:
Goals_dict2014={'KobeBryant': 266,
              'JoeJohnson':446,
              'LeBronJames':624,
              'CarmeloAnthony':358,
              'DwightHoward':251,
              'ChrisBosh':343,
              'ChrisPaul':568,
              'KevinDurant':238,
              'DerrickRose':338,
              'DwayneWade':509}
print(type(Goals_dict2014))
Goals2014=pd.Series(Goals_dict2014)
Goals2014

<class 'dict'>

KobeBryant        266
JoeJohnson        446
LeBronJames       624
CarmeloAnthony    358
DwightHoward      251
ChrisBosh         343
ChrisPaul         568
KevinDurant       238
DerrickRose       338
DwayneWade        509
dtype: int64

In [102]:
Attempts_dict2014={'KobeBryant': 713,
              'JoeJohnson':1025,
              'LeBronJames':1279,
              'CarmeloAnthony':806,
              'DwightHoward':423,
              'ChrisBosh':745,
              'ChrisPaul':1170,
              'KevinDurant':467,
              'DerrickRose':835,
              'DwayneWade':1084}
print(type(Attempts_dict2014))
Attempts2014=pd.Series(Attempts_dict2014)
Attempts2014

<class 'dict'>

KobeBryant         713
JoeJohnson        1025
LeBronJames       1279
CarmeloAnthony     806
DwightHoward       423
ChrisBosh          745
ChrisPaul         1170
KevinDurant        467
DerrickRose        835
DwayneWade        1084
dtype: int64

In [103]:
Points_dict2014={'KobeBryant': 782,
              'JoeJohnson':1154,
              'LeBronJames':1743,
              'CarmeloAnthony':966,
              'DwightHoward':646,
              'ChrisBosh':928,
              'ChrisPaul':1564,
              'KevinDurant':686,
              'DerrickRose':904,
              'DwayneWade':1331}
print(type(Points_dict2014))
Points2014=pd.Series(Points_dict2014)
Points2014

<class 'dict'>

KobeBryant         782
JoeJohnson        1154
LeBronJames       1743
CarmeloAnthony     966
DwightHoward       646
ChrisBosh          928
ChrisPaul         1564
KevinDurant        686
DerrickRose        904
DwayneWade        1331
dtype: int64

In [104]:
Players2014=pd.DataFrame({'Salaries2014': Salaries2014, 
                      'Games2014':Games2014, 
                      'Minutes2014':Minutes2014, 
                      'Goals2014':Goals2014, 
                      'Attempts2014':Attempts2014, 
                      'Points2014':Points2014})
Players2014

,Salaries2014,Games2014,Minutes2014,Goals2014,Attempts2014,Points2014
KobeBryant,23500000,35,1207,266,713,782
JoeJohnson,23180790,80,2791,446,1025,1154
LeBronJames,20644400,69,2493,624,1279,1743
CarmeloAnthony,22458000,40,1428,358,806,966
DwightHoward,21436271,41,1223,251,423,646
ChrisBosh,20644400,44,1556,343,745,928
ChrisPaul,20068563,82,2857,568,1170,1564
KevinDurant,18995624,27,913,238,467,686
DerrickRose,18862875,51,1530,338,835,904
DwayneWade,15000000,62,1971,509,1084,1331